*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Changa', sans-serif;
  width: 800px;
  margin: 0 auto;
  background-color: #FFFAEE;
}

h1 {
  font-size: 2.5em;
  padding: .2em 0 .3em 0;
}

.directions {
  text-align: center;
  margin: 2em 0 2em 0;
  color: #687685;
}

#how-to-play {
  font-weight: 700;
}

.jewels {
  width: 25%;
  position: relative;
  float: left;
  padding: 1em;
  margin: 1em 0 1em 0;
}

#points-added-one {
  display: none;
  position: fixed;
  margin: 1em;
  color: #E96763;
  font-size: 3.8em;
  z-index: 1;
}

section {
  display: block;
  clear: both;
  margin: 2em 0 2em 0;
  width: 800px;
}

.score-keeper-wins {
  position: relative;
  float: left;
  text-align: center;
  width: 20%;
  height: 45px;
  background-color: #4590EE;
  color: white;
  font-size: 1.5em;
  padding-top: .4em;
}

.score-keeper-losses {
  position: relative;
  float: left;
  text-align: center;
  width: 30%;
  height: 45px;
  background-color: #E00000;
  color: white;
  font-size: 1.5em;
  padding-top: .4em;
}

#wins-margins {
  margin: 0 1em 0 200px;
}

#losses-margins {
  margin-left: 400px;
}

.score-keeper-text {
  font-size: 1.7em;
  /*padding: 1em;*/
  text-align: center;
  padding-top: .8em;
}

#wins,
#losses {
  height: 45px;
  border: 3px solid #979797;
  width: 50px;
  position: relative;
  float: left;
  text-align: center;
  padding-top: .6em;
  color: #979797;
  font-size: 1.2em;
}

.score-circle-target {
	border-radius: 50%;
	width: 150px;
	height: 150px;
  border: solid 5px #E96763;
  position: relative;
  float: left;
  margin: 0 5% 0 29%;
}

.score-circle-target-click {
	border-radius: 50%;
	width: 150px;
	height: 150px;
  border: solid 5px #E96763;
  position: relative;
  float: left;
  margin: 0 5% 0 29%;
  color: white;
  background-color: #E96763;
  font-size: 1.4em;
}

.target-score-text {
  color: #E86763;
}

.current-score-text {
  color: #4590EE;
}

.score-circle-current {
	border-radius: 50%;
	width: 150px;
	height: 150px;
  border: solid 5px #4590EE;
  position: relative;
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 0 0 1%;
}

.score-circle-current-click {
	border-radius: 50%;
	width: 150px;
	height: 150px;
  border: solid 5px #4590EE;
  position: relative;
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 0 0 1%;
  background-color: #4590EE;
  color: white;
  padding-top: 1.6em;
  padding-left: -2em;
}

.target-and-current {
  height: 150px;
  margin: 2em 0 2em 0;
}

#target-score,
#current-score {
  font-size: 2em;
}

#quote {
  border-left: thick solid #687685;
  margin: 0 5em 0 6em;
  padding-left: 1em;
  color: #687685;
  font-weight: 100;
  line-height: 1.4em;
}
#quote-author {
  font-weight: 400;
}
